@(url: String)

@main("Welcome to Chat") {
    <div class="row fill">
        <div class="col-xs-10 fill">
            <div>
                <h1 class="text-center" id="room-name">Chat Room</h1>
            </div>
            <div>
                <ul id="messages" class="list-unstyled">
                </ul>
            </div>

            <div class="footer">
                <div class="col-xs-8 col-sm-9">
                    <input id="message" class="form-control" placeholder="Enter Message" type="text" autofocus/>
                </div>
                <div class="col-xs-4 col-sm-3">
                    <button id="send" type="submit"class="form-control">Send</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div>
                <h3 class="text-center">Users</h3>
            </div>
            <div>
                <ul id="users" class="list-unstyled">
                </ul>
            </div>
        </div>
    </div>

    <script language="javascript">
        var $messages       = $("#messages");
        var $message        = $("#message");
        var $send           = $("#send");
        var $rooms          = $("#rooms");
        var $users          = $("#users");
        var connection      = new WebSocket("@url");
        var defaultRoom     = "lobby";
        var currentRoom     = defaultRoom;
        var username        = null;
        var chatCmd         = "CmdChat";
        var joinRoomCmd     = "CmdJoinRoom";
        var userActiveCmd   = "CmdUserActive";
        var userInfoCmd     = "CmdUserInfo";

        $send.prop("disabled", true);
        var sendMessage = function () {
            var text = $message.val();
            if(text == "") return;
            $message.val("");
            connection.send(JSON.stringify({
                cmd: chatCmd,
                room: currentRoom,
                msg: text
            }));
        };

        connection.onopen = function () {
            $send.prop("disabled", false);
            $messages.append($("<li class='bg-info' style='font-size: 1.5em'>Connected</li>"));
            $rooms.append($("<li style='font-size: 1.5em'><button data-room='lobby' class='join-room form-control btn btn-warning'>Lobby</button></li>"));
            $send.on("click", sendMessage);
            $message.keypress(function (event) {
                if(event.keyCode == '13') sendMessage();
            });
        };

        connection.onerror = function (err) {
            console.log("WebSocket Error ", err);
        };

        connection.onmessage = function (event) {
            console.log(event.data)
            var command = JSON.parse(event.data);
            if(command.cmd == chatCmd) {
                $messages.append($("<li style='font-size: 1.5em'>" + command.msg + "</li>"));
            }
            else if(command.cmd == userActiveCmd) {
                var users = command.users;
                users.forEach(function (userRef, i) {
                    var cssClass = userRef == username ? "btn-primary" : "btn-danger";
                    if(command.online) $users.append($("<li style='font-size: 1.2em' class='" + userRef + "'><button data-user='" + userRef + "' class='form-control private-chat btn " + cssClass + "'>" + userRef + "</button></li>"));
                    else $users.find($('.' + userRef)).remove();
                });
            }
            else if(command.cmd == joinRoomCmd) {
                $messages.empty();
                for (var i = 0; i < command.history.length; i++) {
                    $messages.append($("<li style='font-size: 1.5em'>" + command.history[i] + "</li>"));
                }
            }
            else if(command.cmd == userInfoCmd) {
                username = command.username;
            }
        };
    </script>
}
