@(url: String)

@main("Welcome to Chat") {
    <div class="row fill">
        <div class="col-xs-7 fill">
            <div>
                <h1 class="text-center" id="room-name">Chat Room</h1>
            </div>
            <div>
                <ul id="messages" class="list-unstyled">
                </ul>
            </div>

            <div class="footer">
                <div class="col-xs-8 col-sm-9">
                    <input id="message" class="form-control" placeholder="Enter Message" type="text" autofocus/>
                </div>
                <div class="col-xs-4 col-sm-3">
                    <button id="send" type="submit"class="form-control">Send</button>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div>
                <h3 class="text-center">Room List</h3>
            </div>
            <div>
                <ul id="rooms" class="list-unstyled">
                </ul>
            </div>

            <div>
                <div>
                    <input id="room" class="form-control" placeholder="Room name" type="text" autofocus/>
                </div>
                <div>
                    <button id="new-room" type="submit"class="form-control btn btn-default">Create Room</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div>
                <h3 class="text-center">Users</h3>
            </div>
            <div>
                <ul id="users" class="list-unstyled">
                </ul>
            </div>
        </div>
    </div>

    <script language="javascript">
        var $messages       = $("#messages");
        var $message        = $("#message");
        var $send           = $("#send");
        var $rooms          = $("#rooms");
        var $room           = $("#room");
        var $roomName       = $("#room-name");
        var $newRoom        = $("#new-room");
        var $users          = $("#users");
        var connection      = new WebSocket("@url");
        var defaultRoom     = "lobby";
        var currentRoom     = defaultRoom;
        var username        = null;
        var newRoomCmd      = "CmdCreateRoom";
        var joinRoomCmd     = "CmdJoinRoom";
        var chatCmd         = "CmdChat";
        var userActiveCmd   = "CmdUserActive";
        var userInfoCmd     = "CmdUserInfo";
        var privateChatCmd  = "CmdPrivateChat";

        $send.prop("disabled", true);
        var sendMessage = function () {
            var text = $message.val();
            console.log("send msg: " + text);
            if(text == "") return;
            $message.val("");
            connection.send(JSON.stringify({
                cmd: chatCmd,
                room: currentRoom,
                msg: text
            }));
        };

        var createNewRoom = function () {
            var roomName = $room.val();
            if(roomName == "") return;
            $room.val("");
            connection.send(JSON.stringify({
                cmd: newRoomCmd,
                room: roomName
            }));
        };

        var joinRoom = function(roomName) {
            connection.send(JSON.stringify({
                cmd: joinRoomCmd,
                room: roomName
            }));
        };

        var privateChat = function(roomName){
            connection.send(JSON.stringify({
                cmd: privateChatCmd,
                room: roomName
            }));
        };

        connection.onopen = function () {
            $send.prop("disabled", false);
            $messages.append($("<li class='bg-info' style='font-size: 1.5em'>Connected</li>"));
            $rooms.append($("<li style='font-size: 1.5em'><button data-room='lobby' class='join-room form-control btn btn-warning'>Lobby</button></li>"));
            joinRoom(defaultRoom);
            $send.on("click", sendMessage);
            $newRoom.on("click", createNewRoom);
            $message.keypress(function (event) {
                if(event.keyCode == '13') sendMessage();
            });
            $('#rooms').on('click', 'li .join-room', function () {
                var roomName = $(this).data().room;
                if(roomName != currentRoom) joinRoom(roomName);
            });
            $('#users').on('click', 'li .private-chat', function () {
                var toUser = $(this).data().user;
                if(username != toUser) {
                    var newRoomName = username > toUser ? username + "-" + toUser : toUser + "-" + username;
                    if(newRoomName != currentRoom){
                        currentRoom = newRoomName;
                        privateChat(currentRoom);
                    }
                }
            });
        };

        connection.onerror = function (err) {
            console.log("WebSocket Error ", err);
        };

        connection.onmessage = function (event) {
            console.log(event.data)
            var command = JSON.parse(event.data);
            if(command.cmd == chatCmd) {
                $messages.append($("<li style='font-size: 1.5em'>" + command.msg + "</li>"));
            }
            else if(command.cmd == newRoomCmd) {
                $rooms.empty();
                for (var i = 0; i < command.rooms.length; i++) {
                    $rooms.append($("<li style='font-size: 1.5em'><button data-room='" + command.rooms[i] + "' class='join-room form-control btn btn-warning'>" + command.rooms[i] + "</button></li>"));
                }
            }
            else if(command.cmd == joinRoomCmd) {
                currentRoom = command.room;
                $roomName.html(currentRoom);
                $messages.empty();
                for (var i = 0; i < command.history.length; i++) {
                    $messages.append($("<li style='font-size: 1.5em'>" + command.history[i] + "</li>"));
                }
            }
            else if(command.cmd == userActiveCmd) {
                var users = command.users;
                users.forEach(function (user, i) {
                    var cssClass = user == username ? "btn-primary" : "btn-danger";
                    if(command.online) $users.append($("<li style='font-size: 1.2em' class='" + user + "'><button data-user='" + user + "' class='form-control private-chat btn " + cssClass + "'>" + user + "</button></li>"));
                    else $users.find($('.' + user)).remove();
                });
            }
            else if(command.cmd == userInfoCmd) {
                username = command.username;
            }
        };
    </script>
}
